/* ==|== primary styles =====================================================
   Author: Emanuel Kluge
   ========================================================================== */

/* General */

@include selection() {
  background: #06c;
  color: white;
}

/* Posts/Pages */

.ek-post-wrap {
  margin: rem(10);
}

.ek-posts__header {
  border-bottom: 1px solid white;
}

.ek-post__headline {
  padding-bottom: rem(10);
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
  color: $blue;
  text-align: center;
}

.ek-posts__heading-link {
  display: block;
}

.ek-post__content,
.codepen {
  overflow: hidden;
}

.ek-post__content img {
  max-width: 100%;
  height: auto;
}

.ek-post__content h2 {
  margin-bottom: rem(-14);
  font-size: rem(20);
}

.ek-post__content a {
  word-wrap: break-word;
}

.ek-post__content blockquote {
  padding-left: rem(10);
  margin-left: rem(10);
  border-left: 3px solid #ddd;
}

.ek-post__content small {
  font-size: rem(12);
}

.ek-post__content ul {
  list-style-type: square;
}

.ek-post__content ins {
  background: rgba(yellow, 0.2);
  color: $dark-grey;
  text-decoration: none;
}

.ek-post__content p code {
  padding: rem(1) rem(3);
  background-color: rgba(black, 0.6);
  border-radius: rem(4);
  color: white;
  font-family: 'Courier New', Courier;
  word-spacing: 0;
}

.ek-post__content code {
  font-size: rem(14);
}

.ek-post__footer {
  margin-bottom: rem(64);
  border-top: 1px solid #ddd;
  color: #999;
  &.ek-post__footer--detail {
    margin-bottom: rem(40);
  }
}

.ek-post__meta {
  padding-top: rem(10);
  margin: 0;
  border-top: 1px solid white;
  font-size: rem(14);
}

.vcard ul {
  list-style: none;
  padding-left: 0;
}

.ek-meta-nav {
  margin-bottom: rem(32);
}

.ek-meta-nav__link {
  width: 50%;
}

.ek-meta-nav__link--prev {
  float: left;
}

.ek-meta-nav__link--next {
  float: right;
  text-align: right;
}

.ek-meta-nav__link a:link,
.ek-meta-nav__link a:visited {
  padding: rem(8);
  background-color: $blue;
  border-radius: rem(4);
  color: white;
  text-decoration: none;
  line-height: rem(24);
  font-size: rem(14);
}

.ek-meta-nav__link a:hover,
.ek-meta-nav__link a:focus {
  background-color: darken($blue, 10%);
}

.ek-meta-nav__link a:active {
  background-color: darken($blue, 20%);
}

/* Aside */

.ek-main-aside {
  @include content-width(rem($content-max-width));
  .js.js & {
    opacity: 1;
  }
}

.ek-main-aside__inner {
  padding: rem(12);
  margin: rem(32) rem(10);
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 2px 3px rgba(black, 0.07);
}

.ek-main-aside__thumb {
  width: 60px;
  margin-right: rem(12);
  float: left;
}

.ek-main-aside__desc {
  margin: 0 0 rem(24) 0;
  overflow: hidden;
}

.ek-main-aside__social {
  margin-left: 62px;
  clear: left;
}

.ek-social-link {
  width: rem(32);
  display: inline-block;
  margin-left: rem(8);
  position: relative;
  text-align: left;
  overflow: hidden;
}

.ek-social-link__title {
  position: absolute;
  top: 0;
  left: rem(-999);
}

.ek-social-link__link {
  color: #444;
  transition: background-color 0.2s ease-in-out;
  &:hover,
  &:focus {
    color: $blue;
  }
}

/* Footer */

.ek-main-footer {
  background-color: #444;
  border-top: 1px solid black;
  box-shadow: 0 -1px 0 white;
  overflow: hidden;
}

.ek-main-footer__inner {
  padding: rem(32) 0;
  text-align: center;
  font-size: rem(12);
  line-height: 2;
  color: white;
  letter-spacing: 1px;
  @include content-width(rem($content-max-width));
}

@media screen and (min-width: rem($wrap-max-width)) {
  .ek-main {
    @include content-width(rem($wrap-max-width));
  }

  .ek-content {
    width: percentage($content-max-width/$wrap-max-width);
    float: left;
  }
  .ek-main-aside {
    width: percentage($aside-max-width/$wrap-max-width);
    float: right;
  }

  .ek-main-aside__inner {
    margin: rem(100) rem(5) rem(5) rem(5);
  }

  .ek-main-aside__desc {
    overflow: visible;
  }

  .ek-main-aside__social {
    margin-left: 0;
  }

  .ek-main-footer {
    clear: both;
  }
}
