<aside class="ek-main-aside">
  <div class="ek-main-aside__inner">
    <img src="{% asset_path ek.jpg %}"
      srcset="{% asset_path ek.jpg %} 1x, {% asset_path ek@2.jpg %} 2x"
      class="ek-main-aside__thumb"
      alt="Emanuel Kluge">
    <p class="ek-main-aside__desc">
      Emanuel ist Javascript-Developer bei Jimdo. Wenn er mal nicht den Text-Editor malträtiert, widmet er sich mit Hingabe der Fotografie und dem Gitarrenspiel.
    </p>
    <div class="ek-main-aside__social">
      {% asset twitter.svg %}
      {% asset github.svg %}
      {% asset flickr.svg %}
    </div>
  </div>
</aside>
