<aside class="ek-main-aside">
  <div class="ek-main-aside__inner">
    <img src="{{ baseurl }}/assets/img/ek.jpg"
      srcset="{{ baseurl }}/assets/img/ek.jpg 1x, {{ baseurl }}/assets/img/ek@2.jpg 2x"
      class="ek-main-aside__thumb"
      alt="Emanuel Kluge">
    <p class="ek-main-aside__desc">
      Emanuel ist Javascript-Developer bei Jimdo. Wenn er mal nicht den Text-Editor malträtiert, widmet er sich mit Hingabe der Fotografie und dem Gitarrenspiel.
    </p>
    <div class="ek-main-aside__social">
      {% include "../_assets/images/twitter.svg" %}
      {% include "../_assets/images/github.svg" %}
      {% include "../_assets/images/instagram.svg" %}
      {% include "../_assets/images/photoblog.svg" %}
    </div>
  </div>
</aside>
