
@import "project/variables",
        "project/functions",
        "project/mixins";

@import "external/normalize.scss/normalize";
@import "external/h5bp-pt1";

body {
  background: rgb(242, 242, 242);
  font: normal 100%/1.2 sans-serif;
  color: $dark-grey;
  }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: .05em;
}

a {
  color: $blue;
  text-decoration: none;
  @include transition(background-color .5s linear);
  &:hover,
  &:focus {
    color: lighten($blue, 10%);
    text-decoration: underline;
  }
}

a:active {
  color: darken($blue, 10%);
}

.ek-main-header {
  overflow: hidden;
  background-color: #444;
  border-bottom: 1px solid black;
  text-align: center;
  text-shadow: 0 1px 1px black;
  @include box-sizing(border-box);
}

.ek-main-header__link {
  display: block;
  padding: rem(16) 0 rem(8) 0;
  text-align: center;
  font-size: rem(32);
  line-height: 1;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:before,
  &:after {
    color: darken(white, 40%);
  }

  &:before {
    content: "- "
  }

  &:after {
    content: " -"
  }

}

.ek-content {
  min-height: 55vh;
  padding: rem(32) rem(10) 0 rem(10);
  border-top: 1px solid white;
  @include content-width (rem($content-max-width));
}

.ek-post__headline {
  font-size: rem(20);
}

.ek-main-aside {
  overflow: hidden;
  .js & {
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
}

@media screen and (min-width: rem($content-max-width)) {
  .ek-post__headline {
    font-size: rem(24);
    text-align: left;
  }
}

@media screen and (min-width: rem(768)) {
  .ek-post__headline {
    font-size: rem(28);
  }
}
