
@import "project/variables",
        "project/functions",
        "project/mixins";

body {
  margin: 0;
  background: rgb(238, 238, 238);
  font: normal 100%/1.2 sans-serif;
  color: $dark-grey;
  }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: .05em;
}

a:link,
a:visited {
  color: $blue;
  text-decoration: none;
  transition: background-color .5s linear;
}

a:hover,
a:focus {
  color: lighten($blue, 10%);
  text-decoration: underline;
}

a:active {
  color: darken($blue, 10%);
}

.ek-main-header {
  height: 100vh;
  padding-top: 70vh;
  margin-top: -70vh;
  overflow: hidden;
  background-color: black;
  border-bottom: 1px solid #222;
  text-align: center;
  text-shadow: 0 1px 1px black;
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  .js & {
    backface-visibility: hidden;
    transform: translateY(70vh) translateZ(0);
  }
}

.ek-main-header__link {
  display: block;
  padding-top: rem(16);
  text-align: center;
  font-size: rem(32);
  line-height: 1;
  .js & {
    backface-visibility: hidden;
    transform: translateY(-40vh) translateZ(0);
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:before,
  &:after {
    color: darken(white, 40%);
  }

  &:before {
    content: "- "
  }

  &:after {
    content: " -"
  }

}

.ek-main-header__inner {
  padding: rem(40) rem(8) 0 rem(8);
  box-sizing: border-box;
  @include content-width (rem($site-max-width));
}

.ek-main-header__headline {
  margin: 0;
  color: white;
  font-size: rem(20);

}

.ek-content {
  min-height: 55vh;
  padding: rem(32) rem(10) 0 rem(10);
}

@media screen and (min-width: rem(460)) {
  .ek-main-header__headline {
    font-size: rem(24);
  }
}

@media screen and (min-width: rem(768)) {
  .ek-main-header__headline {
    font-size: rem(32);
  }
}
