---
layout: default
---
<section class="ek-post-wrap">
  <div class="ek-post">

    <article class="ek-post__content">
      <header class="ek-posts__header">
        <h1 class="ek-post__headline" itemprop="headline">
          <a class="ek-posts__heading-link"
            href="{{ page.url | prepend: site.baseurl }}"
            rel="bookmark"
            itemprop="url">
            {{ page.title }}
          </a>
        </h1>
      </header>
      <div class="ek-post__content" itemprop="articleBody">
        {{ page.content }}
      </div>
    </article>

  </div>
</section>
